* {
    padding: 0px;
    margin: 0px;
}

html {
   height: 100vh;
   width: 100vw;
   overflow-y: hidden;
}

body {
    min-height: 100%;
    min-width: 100%;
    overflow-y: hidden;
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 10vh;
        background-color: rgb(223, 219, 219);

        span {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h1 {
                font-size: clamp(3rem, 5vw, 6rem);
            }
            p {
                font-size: clamp(1rem, 1.5vw, 2rem);
                margin-top: -2%;
                margin-bottom: 5%;
            }
            
        }
    }

    main {
        display: flex;
        justify-content: center;
        height: 80vh;
        background-color: gray;
        
        padding: 5%;

        @media (max-width: 425px) {
            padding-top: 20vh;
        }
        .board {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            width: 30vw;
            height: 30vw;

            @media (max-width: 425px) {
                width: 60vw;
                height: 60vw;
                
            }
            
            div:nth-child(1) {
                border-right: 2px solid;
                border-left: 2px solid black;
                border-top: 2px solid black;
                
            }
            div:nth-child(2) {
                border-right: 2px solid;
                border-top: 2px solid black;
            }
            div:nth-child(3) {
                border-right: 2px solid;
                border-top: 2px solid black;
            }

            div:nth-child(4) {
                border: 2px solid;
            }
            div:nth-child(5) {
                border-top: 2px solid black;
                border-bottom: 2px solid black;
                border-right: 2px solid black;
            }
            div:nth-child(6) {
                border-right: 2px solid;
                border-top: 2px solid black;
                border-bottom: 2px solid black;
            }
            div:nth-child(7) {
                border-right: 2px solid;
                border-left: 2px solid black;
                border-bottom: 2px solid black;
                
            }
            div:nth-child(8) {
                border-right: 2px solid;
                border-bottom: 2px solid black;
            }
            div:nth-child(9) {
                border-right: 2px solid;
                border-bottom: 2px solid black;
            }
        }
    }

    footer {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        min-height: clamp(120px, 10vh, 20vh);
        background-color: red;

        @media (min-width: 1050px) {
            min-height: 15vh;
        }

        @media (max-width: 425px) {
            visibility: hidden;
            
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1.5vw;
            min-width: 5vw;
            p {
                 padding-bottom: 0.4rem;
                 &:nth-child(1) {
                    padding-bottom: 0.8rem;
                }
                &:nth-child(2) {
                    padding-bottom: 1rem;
                }
            }
           
            
            &:nth-child(1){
                align-items: baseline;
                p {
                    padding-bottom: 0.8rem;
                    padding-left: 1rem;
                    &:nth-child(1) {
                        padding-bottom: 0.7rem;
                    }
                    &:nth-child(3) {
                        padding-bottom: 0rem;
                    }
                    
                }
            }
        }
        
    }
}



